.third-section-main {
  height: 100%;
  width: 100%;
}

.topProjects {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
}

.main-div {
  height: 100%;
}

.topProjects h1 {
  font-size: 5vw;
  margin-left: 30px;
  text-decoration: underline;
}

.projects {
  width: 100%;
  height: 100%;
  display: flex;
  margin-left: 23px;
  flex-direction: column;
}

.p1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  border-bottom: 1px solid gray;
}

.p2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  border-bottom: 1px solid gray;
}

.p3 {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  border-bottom: 1px solid gray;
}

.p {
  padding: 23px;
  transition: all 0.2s ease;
}

.p:hover {
  background: black;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.info {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 33px;
}

@media (max-width: 1341px) {
  .p1,
  .p2,
  .p3 {
    flex-direction: column;
    align-items: center;
  }

  .info {
    display: flex;
    justify-content: center;
  }
}
