* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "m42";
  src: url("./assets/Fonts/m42.TTF");
}

@font-face {
  font-family: "Wagon";
  src: url("./assets/Fonts/Wagon-Bold.otf");
}

@font-face {
  font-family: "Satoshi";
  src: url("./assets/Fonts/Satoshi-Bold.otf");
}

@font-face {
  font-family: "Heming";
  src: url("./assets/Fonts/Heming.ttf");
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
