* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "m42";
  src: url("./assets/Fonts/m42.TTF");
}

@font-face {
  font-family: "Wagon";
  src: url("./assets/Fonts/Wagon-Bold.otf");
}

@font-face {
  font-family: "Satoshi";
  src: url("./assets/Fonts/Satoshi-Bold.otf");
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  cursor: none;
}

.main-home-page {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(-20deg, #a167f8 0%, #fbfcdb 100%);
}

.home-page {
  height: 100%;
  width: 100%;
}

.intro-page {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "m42";
  font-size: 2.6vw;
  background: rgb(145, 42, 241);
  flex-direction: column;
  position: relative;
  z-index: 1000;
}

.item {
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item h1 {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  margin: 0;
  padding: 0;
}

.transition-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 10000;
  pointer-events: none;
  span {
    position: relative;
  }

  &.from-top {
    span {
      background: rgb(0, 0, 0);
      height: 0%;
      width: 100%;
    }
  }
}

.main-page {
  display: flex;
  width: 100%;
  height: 100%;
}

.wrapper {
  overflow: hidden;
}

.wrapper h1 {
  position: relative;
  top: 1000px;
}

.first-section {
  width: 100%;
  height: 100%;
}

.text {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Wagon";
  font-size: 4.7vw;
}

.navbar {
  position: fixed;
  top: -1000px;
  left: 0;
  width: 100%;
  height: 120px;
  font-family: "Satoshi";
  display: flex;
  align-items: center;
  padding: 0 50px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.nav-items {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  margin-right: 40px;
  transition: all 0.3s ease;
}

.nav-items span:hover {
  scale: 1.1;
}

@media (max-width: 876px) {
  .navbar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
  }

  .left {
    margin-top: 30px;
  }

  .nav-items {
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-right: 0;
  }
  .cursor {
    display: none;
  }
}
